@font-face {font-family: "iconfont";  
  src: url(data:font/truetype;charset=utf-8;base64,QGZvbnQtZmFjZSB7Zm9udC1mYW1pbHk6ICJpY29uZm9udCI7ICAKICBzcmM6IHVybChkYXRhOmZvbnQvdHJ1ZXR5cGU7Y2hhcnNldD11dGYtODtiYXNlNjQsKSBmb3JtYXQoJ3RydWV0eXBlJyk7ICAKfQoKLmljb25mb250IHsKICBmb250LWZhbWlseTogImljb25mb250IiAhaW1wb3J0YW50OwogIGZvbnQtc2l6ZTogMTZweDsKICBmb250LXN0eWxlOiBub3JtYWw7CiAgLXdlYmtpdC1mb250LXNtb290aGluZzogYW50aWFsaWFzZWQ7CiAgLW1vei1vc3gtZm9udC1zbW9vdGhpbmc6IGdyYXlzY2FsZTsKfQoKLmljb24tY3Jvc3M6YmVmb3JlIHsKICBjb250ZW50OiAiXGU2MDEiOwp9Cgo=) format('truetype');  
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e601";
}

